@import '../../styles/variables.scss';
@import '../../styles/mixins';

$grid-min-max-content: minmax(min-content, 520px);


.category_list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  justify-content: center;
  grid-gap: 24px;
}

@include for-big-mobile {
  .category_list {
    grid-template-columns: repeat(2, $grid-min-max-content);
  }
}

@include for-desktop {
  .category_list {
    grid-template-columns: repeat(3, 1fr);
  }
}
