// Devices sizes
$mobile-min-width: 320px;
$big-mobile-min-width: 580px;
$desktop-min-width: 1024px;
$desktop-max-width: 1280px;
$big-desktop-min-width: 1400px;

// Colors
$bg-color: rgb(255, 255, 255);
$text-color: rgb(29, 29, 38);
$cta-color: rgb(161, 117, 211);
$body-color: #ededec;

// Fonts sizes
$title-thumbnail-font-size: 12px;
$title-channel-font-size: 20px;
$title-category-font-size: 12px;
$body-font-size: 14px;
$body-bold-font-size: 14px;
$description-font-size: 12px;

// Cards and images sizes
$news-card-max-width-mobile: 250px;
$news-card-max-width-desktop: 300px;
$cat-card-max-width-mobile: 360px;
$cat-card-image-height-mobile: 330px;
$cat-card-max-width-desktop: 560px;
$cat-card-image-height-desktop: 518px;
$article-min-width: 320px;
$article-max-width: 800px;

// Spacing
$spacing-xxs: 4px;
$spacing-m: 12px;

// Others
$header-size: 60px;
